html, body {
    height: 100%;
    margin: 0;
}

#app {
    height: 100%;
    width: 100%;
    font-family: 'Apercu';
}
#app .main-container {
    float: left;
    height: 80%;
    width: 20%;
    background-color: #777;
}

#app .main-container button {
    width: 100%;
    height: 50px;
}

#app .tab-container {
    float: left;
    height: 80%;
    width: 80%;
    background-color: #fafafa;
    overflow-y: auto;
}

#app .tab-container .tab-content {
    clear: both;
    background-color: #ddd;
    /*line-height: 40px;*/
    height: 40px;
    vertical-align: middle;
    margin-top: 5px;
    width: 100%;
}

#app .tab-container .tab-controller {
    height: 100%;
    width: 100%;
    overflow: auto;
}

#app .tab-container .tab-body {
    width: auto;
}
#app .tab-container .tab-head {
    float: left;
    width: 80px;
}


#app .log {
    clear: both;
    height: 20%;
    background-color: #333;
    position: relative;
}
#app .log .rows {
    color: #fafafa;
    height: 100%;
    width: 100%;
    overflow: auto;
}
#app .log .clear-button {
    position: absolute;
    top:0;
    right:0;
    width: 50px;
    height: 25px;
}
#app .log .row {
    width: 100%;
    display: block;
    font-family: monospace;
}
#app .log .row.error {
    color: firebrick;
}

#dynamic-load-container {
    display: none;
}
#angular-trash-container {
    display: none;
}
